<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualizer Feedback</title>
  </head>
  <body>
    <p>A customer has submitted the feedback form on the Visualizer. The
      information they submitted is below.</p>
    <ul>
      <li>First Name: {{firstName}}</li>
      <li>Last Name: {{lastName}}</li>
      <li>Email: {{email}}</li>
      <li>Company: {{company}}</li>
      <li>Feedback: {{feedback}}</li>
    </ul>
  </body>
</html>