<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Quote Request</title>
  </head>
  <body>
    <p>A new quote request has been placed using the customizer. Below are the
      details.
      <a href={{adminLink}}>Click here</a>
      to view it in the admin portal.</p>
    <ul>
      <li>First Name: {{firstName}}</li>
      <li>Last Name: {{lastName}}</li>
      <li>Email: {{email}}</li>
      <li>Company: {{company}}</li>
      <li>Local: {{#if local}}{{local}}{{else}}(n/a){{/if}}</li>
      <li>Comments: {{#if comments}}{{comments}}{{else}}(n/a){{/if}}</li>
    </ul>
    {{#each cart.products}}
      <div
        style="padding: 10px; border: 1px solid black; margin-bottom: 10px; background-color: #dddddd"
      >
        <div style="font-weight: bold;">{{name}}</div>
        {{! <div>SKU: AS1234</div> }}
        {{#each variations}}
          <div
            style="padding: 10px; border: 1px solid black; background-color: white;"
          >
            <div>{{label}}</div>
            <table style="border-collapse: collapse;">
              <tr>
                <td
                  style="border: 1px solid black; padding: 8px; text-align: right;"
                >Small:
                  {{quantities.s}}</td>
                <td
                  style="border: 1px solid black; padding: 8px; text-align: right;"
                >Medium:
                  {{quantities.m}}</td>
                <td
                  style="border: 1px solid black; padding: 8px; text-align: right;"
                >Large:
                  {{quantities.l}}</td>
              </tr>
              <tr>
                <td
                  style="border: 1px solid black; padding: 8px; text-align: right;"
                >XL:
                  {{quantities.xl}}</td>
                <td
                  style="border: 1px solid black; padding: 8px; text-align: right;"
                >2XL:
                  {{quantities.2xl}}</td>
                <td
                  style="border: 1px solid black; padding: 8px; text-align: right;"
                >3XL:
                  {{quantities.3xl}}</td>
              </tr>
              <tr>
                <td
                  style="border: 1px solid black; padding: 8px; text-align: right;"
                >4XL:
                  {{quantities.4xl}}</td>
                <td
                  style="border: 1px solid black; padding: 8px; text-align: right;"
                >5XL:
                  {{quantities.5xl}}</td>
                <td
                  style="border: 1px solid black; padding: 8px; text-align: right;"
                >6XL:
                  {{quantities.6xl}}</td>
              </tr>
            </table>
            {{#each views}}
              <div>
                {{label}}:
                <a href="{{currentRenderUrl}}">View Design</a>
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    {{/each}}
  </body>
</html>