<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Support requested for order {{number}}</title>
  </head>
  <body>
    <p><strong>This email is sent from an unmonitored inbox. Please do not reply
        directly.</strong></p>
    <p>Hello,</p>
    <p>{{userName}}
      ({{userEmail}}) has requested assistance with order
      {{number}}. The webstore is "{{storeName}}."
    </p>
    <p>The order details and the user's comments/questions are below.</p>
    <table style="border-collapse: collapse;">
      <thead>
        <tr>
          <th
            style="border: 1px solid black; padding: 8px; background-color: lightgray;"
          >Name</th>
          <th
            style="border: 1px solid black; padding: 8px; background-color: lightgray;"
          >Quantity</th>
          <th
            style="border: 1px solid black; padding: 8px; background-color: lightgray;"
          >Price</th>
          <th
            style="border: 1px solid black; padding: 8px; background-color: lightgray;"
          >Tax</th>
        </tr>
      </thead>
      <tbody>
        {{#each lineItems}}
          <tr>
            <td style="border: 1px solid black; padding: 8px;">{{name}}</td>
            <td style="border: 1px solid black; padding: 8px;">{{quantity}}</td>
            <td style="border: 1px solid black; padding: 8px;">${{total}}</td>
            <td
              style="border: 1px solid black; padding: 8px;"
            >${{totalTax}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <p><strong>Comments/questions:</strong></p>
    <p>{{comments}}</p>
  </body>
</html>